@model ProyectoRestaurante.Models.Mesa

@{
    ViewData["Title"] = "Delete";
}

<h1 style="text-shadow: -1px 0px 6px #D4AF37;">Eliminar</h1>

<h3>¿Deseas proceder?</h3>
<div>
    <h4>Mesa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdMesa" />
        <input type="submit" value="Eliminar" class="btn btn-dark" /> |
        <a asp-action="Index" class="btn btn-dark">Volver</a>
    </form>
</div>
