@model ProyectoRestaurante.Models2.Recomendacion

<!DOCTYPE html>


<section>
    <h1 style="text-shadow: -1px 0px 6px #D4AF37;">Recomendaciones</h1>

    <h4>Elige un plato y danos tu opinion!</h4>
    <hr />
    <div class="row centrar">
        <div class="col-md-4">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdPlato" class="control-label"></label>
                    @Html.DropDownListFor(model => model.IdPlato, (SelectList)ViewData["Platos"], "Seleccione un plato", new { @class = "form-control" })
                    <span asp-validation-for="IdPlato" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comentario" class="control-label"></label>
                    <input asp-for="Comentario" class="form-control" />
                    <span asp-validation-for="Comentario" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>
    <br>

    <div>
        <a asp-action="Index" class="btn btn-dark">Volver</a>
    </div>
</section>
