@model ProyectoRestaurante.Models2.Reservacion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Modifica la decha de tu reservacion</h4>
<hr />
<div class="row centrar">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdReservacion" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaReserva" class="control-label"></label>
                <input asp-for="FechaReserva" class="form-control" />
                <span asp-validation-for="FechaReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraReserva" class="control-label"></label>
                <input asp-for="HoraReserva" class="form-control" />
                <span asp-validation-for="HoraReserva" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="CantidadPersonas" class="control-label"></label>
                <input asp-for="CantidadPersonas" class="form-control" />
                <span asp-validation-for="CantidadPersonas" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="IdMesa" class="control-label"></label>
                <select asp-for="IdMesa" class="form-control" asp-items="ViewBag.IdMesa"></select>
                <span asp-validation-for="IdMesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">Volver</a>
</div>

