
@{
    ViewData["Title"] = "IngresarCapacidad";
}


<h2>Ingresar Capacidad Requerida</h2>

<form asp-controller="Reservacions" asp-action="Create" method="get">
    <div class="form-group">
        <label for="capacidadRequerida">Capacidad Requerida:</label>
        <input type="number" id="capacidadRequerida" name="capacidadRequerida" class="form-control" value="@Model" />
    </div>
    <button type="submit" class="btn btn-primary">Crear Reservación</button>
</form>