@model ProyectoRestaurante.Models2.Categorium

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Categorias</h4>
<hr />
<div class="row centrar">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCat" class="control-label"></label>
                <input asp-for="NombreCat" class="form-control" />
                <span asp-validation-for="NombreCat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">Volver</a>
</div>

