@model ProyectoRestaurante.Models2.Factura


<!DOCTYPE html>



<section>
    <h1 style="text-shadow: -1px 0px 6px #D4AF37;">Crear</h1>

    <h4>Factura</h4>
    <hr />
    <div class="row centrar">
        <div class="col-md-4">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FechaFactura" class="control-label"></label>
                    <input asp-for="FechaFactura" class="form-control" />
                    <span asp-validation-for="FechaFactura" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HoraFactura" class="control-label"></label>
                    <input asp-for="HoraFactura" class="form-control" />
                    <span asp-validation-for="HoraFactura" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdDorden" class="control-label"></label>
                    <select asp-for="IdDorden" class="form-control" asp-items="ViewBag.IdDorden"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <br>

    <div>
        <a asp-action="Index" class="btn btn-dark">Volver</a>
    </div>
</section>
