@model ProyectoRestaurante.Models2.Menu

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Deseas proceder?</h3>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPlato" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-dark">Volver</a>
</form>
