@model IEnumerable<ProyectoRestaurante.Models2.Menu>

@{
    ViewData["Title"] = "Indexusr";
}

<section class="menu">
    <h1>╚══•N U E S T R O ● M E N U•══╝</h1>
</section>
<section class="entradas">
    <br>
    <br>
    <br>
    <br>
    <br>
    <a style="text-decoration:none; color:whitesmoke; font-size:30px;" asp-action="Entradas"> Entradas</a>
    <br>
    <br>
    <br>
    <br>
    <br>
</section>
<section class="pfuerte">
    <br>
    <br>
    <br>
    <br>
    <br>
    <a style="text-decoration:none; color:whitesmoke; font-size:30px;" asp-action="pfuertes">Platos Fuertes</a>
    <br>
    <br>
    <br>
    <br>
    <br>
</section>
<section class="postres">
    <br>
    <br>
    <br>
    <br>
    <br>
    <a style="text-decoration:none; color:whitesmoke; font-size:30px;" asp-action="postres">Postres</a>
    <br>
    <br>
    <br>
    <br>
    <br>
</section>


