
@{

}
<section class="dashboard">
    <br>
    <h1 class="centrar dashboardTitle">Bienvenido al portal de administracion</h1>
    <p class="centrar">━◦De parte de nuesro equipo te deseamos una feliz jornada◦━</p>
    <br>
    <br>
    <h4 class="centrar dashboardTitle" style="color: aliceblue;">◇──◆─Restaurante─◇──◆</h4>
    <br>
    <div class="grid-container">
        <div class="grid-item">
            <h5>Mesas</h5>
            <div class="centrar">
                <a href="@Url.Action("Index", "Mesas")" class="nolink btn btn-dark centrar"><i class="fa fa-cutlery iconosdashboard"></i></a>
            </div>
        </div>

        <div class="grid-item">
            <h5>Reservaciones</h5>
            <div class="centrar">
                <a href="@Url.Action("Index", "Reservacions")" class="nolink btn btn-dark centrar"><i class="fa fa-calendar-o iconosdashboard"></i></a>
            </div>
        </div>

        <div class="grid-item">
            <h5>Categorias</h5>
            <div class="centrar">
                <a href="@Url.Action("Index", "Categoriums")" class="nolink btn btn-dark centrar"><i class="fa fa-cube iconosdashboard"></i></a>
            </div>
        </div>
        <div class="grid-item">
            <h5>Menu</h5>
            <div class="centrar">
                <button class="btn btn-dark" type="button" id="ej1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fire iconosdashboard" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <h4 class="centrar dashboardTitle" style="color: aliceblue;">◇──◆─Facturacion y Clientes─◇──◆</h4>
    <br>
    <div class="grid-container">

        <div class="grid-item">
            <h5>Ordenes</h5>
            <div class="centrar">
                <button class="btn btn-dark" type="button" id="ej1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-handshake-o iconosdashboard" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="grid-item">
            <h5>Detalles.O</h5>
            <div class="centrar">
                <button class="btn btn-dark" type="button" id="ej1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-print iconosdashboard" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="grid-item">
            <h5>Recomendacion</h5>
            <div class="centrar">
                <button class="btn btn-dark" type="button" id="ej1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-print iconosdashboard" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="grid-item">
            <h5>Facturas</h5>
            <div class="centrar">
                <button class="btn btn-dark" type="button" id="ej1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-money iconosdashboard" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    </div>
</section>
<br>
