@{
    ViewData["Title"] = "The Golden Epicure";
}
    <section>
        <div class="principal">
            <div class="principalimg">
            </div>
            <h1 class="principaltext">The Golden <br> Epicure</h1>
        </div>
    </section style="margin-bottom: 0; margin-top: 3px;">

    <Section class="indeximgsection">
      <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="6000">
            <img src="~/Img/indeximg03.png" style="opacity: 0.6;" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>El Corte Real ♛</h5>
              <p>Revelando la EXCELENCIA de los reyes de antaño</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="6000">
            <img src="~/Img/indeximg01.png" style="opacity: 0.6;" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>La copa de Midas ♠</h5>
              <p>Embriágate de Lujo, Sofisticación y ORO</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="6000">
            <img src="~/Img/indeximg02.png" style="opacity: 0.6;" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>El Toque Dorado ☛</h5>
              <p>Tu paladar saborea el LUJO en Cada Bocado</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </Section style="margin-bottom: 0; margin-top: 3px;">

    <Section class="resenas">
      <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner centradorcard">
          <div class="carousel-item active" data-bs-interval="6000">
            <div class="d-flex align-items-center justify-content-center fondos">
              <div class="col-md-6">
                <img class="pngimg" src="~/Img/gramsaypng.png" alt="" srcset="">
              </div>
              <div class="col-md-6">
                <div class="card tarjeta text-bg-dark centrar mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                    </div>
                    <div>
                      <div class="card-body">
                        <h5 class="card-title">Gordon Ramsay</h5>
                        <p class="card-text">Una joya culinaria. No solo cumple con los más altos estándares de calidad, sino que supera todas las expectativas. Es una experiencia gastronómica que trasciende lo ordinario y se convierte en un recuerdo inolvidable. Recomiendo encarecidamente a todos los amantes de la buena comida que visiten este lugar y se sumerjan en un viaje culinario único.</p>
                        <p class="card-text"><small class="text-body-secondary">25/03/2024</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="6000">
            <div class="d-flex align-items-center justify-content-center fondos">
              <div class="col-md-6">
                <img class="pngimg" src="~/Img/brucepng.png" alt="" srcset="">
              </div>
              <div class="col-md-6">
                <div class="card tarjeta text-bg-dark centrar mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                    </div>
                    <div>
                      <div class="card-body">
                        <h5 class="card-title">Bruce Wayne</h5>
                        <p class="card-text">Es una verdadera joya gastronómica que satisface mi exigente paladar. Con un ambiente elegante hasta el servicio impecable y la comida siendo un deleite, cada aspecto de esta experiencia culinaria refleja la excelencia y considerare añadirlo a industrias Wayne el próximo año. Recomiendo encarecidamente este lugar a aquellos que buscan una experiencia gastronómica inolvidable, exclusiva y digna de todo caballero de la noche.</p>
                        <p class="card-text"><small class="text-body-secondary">27/01/2019</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="6000">
            <div class="d-flex align-items-center justify-content-center fondos">
              <div class="col-md-6">
                <img class="pngimg" src="~/Img/messi.png" alt="" srcset="">
              </div>
              <div class="col-md-6">
                <div class="card tarjeta text-bg-dark centrar mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                    </div>
                    <div>
                      <div class="card-body">
                        <h5 class="card-title">Lionel Messi</h5>
                        <p class="card-text">Este sitio es una joya oculta y exclusiva, me gusta venir con mi familia despues de cada victoria. Tiene un ambiente sereno ideal para celebrar un triunfo con estilo. El personal se maneja de una manera que refleja la mas alta excelencia y el mejor trato que he tenido en años. Sin duda es una experiencia inolvidable y aunque es mejor ganar una copa del mundo la sensasion que tra¿smite este lugar es muy similar.</p>
                        <p class="card-text"><small class="text-body-secondary">16/09/2024</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </Section style="margin-bottom: 0; margin-top: 3px;">

    <section class="patrocina">
      <div class="patrocinadores">
        <br>
        <h4 class="centrar">꧁N U E S T R O S ᚐ P R O V E D O R E S꧂</h4>
        <div>
          <br>
          <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card">
                <img src="~/Img/Provedores/angus.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Certified Angus Beef</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="~/Img/Provedores/alpiste.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Alpiste</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="~/Img/Provedores/2pinos.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dos Pinos</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="~/Img/Provedores/chateau.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chateau Margaux</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section style="margin-bottom: 0; margin-top: 3px;">

    <section class="contact">
      <div class="contactL">
        <h2>Contáctanos</h2>
        <div class="informacion">
          <p><strong>Teléfono:</strong> +506 4032-2211</p>
          <p><strong>Correo:</strong> Reservaciones@tgoldene.com</p>
        </div>
      </div>
      <div class="contactR">
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15719.445194173182!2d-84.1752648!3d9.9454964!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fbfa000d5c29%3A0xe68e9f9568e599e7!2sSanta%20Ana%20Country%20Club!5e0!3m2!1ses-419!2scr!4v1687579371896!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      </div>
        <br>    
      </section>