@{
    ViewData["Title"] = "Colaboradores";
}


    <div class="jumbotron text-center">
        <h1>Colaboradores</h1>
        <p>Conoce a algunas de las marcas que hacen posible nuestra experiencia culinaria en The Golden Picture.</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                <img src="https://firebasestorage.googleapis.com/v0/b/restaurante-4a933.appspot.com/o/DALL%C2%B7E%202023-08-12%2018.44.10%20-%20platos%20de%20alta%20finura%20de%20marca%20Fiorette%20fondo%20negro.png?alt=media&token=9ff40d29-f96d-45ef-8740-cbb56d0e320e" class="card-img-top" alt="Marca 1">
                    <div class="card-body">
                        <h5 class="card-title">Fiorette</h5>
                        <p class="card-text">Nuestros platos y cubiertos son proporcionados por la renombrada marca de vajillas "Fiorette".</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                <img src="https://firebasestorage.googleapis.com/v0/b/restaurante-4a933.appspot.com/o/DALL%C2%B7E%202023-08-12%2018.05.29%20-%20cafe%20muy%20elegante%20de%20nombre%20Caf%C3%A9ture%20.png?alt=media&token=46d58137-e2f4-4f3b-ac1c-9576c8e3a349" class="card-img-top" alt="Marca 2">
                    <div class="card-body">
                        <h5 class="card-title">Caféture</h5>
                        <p class="card-text">Nuestro café de alta calidad proviene de la marca "Caféture", especializada en sabores únicos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                <img src="https://firebasestorage.googleapis.com/v0/b/restaurante-4a933.appspot.com/o/DALL%C2%B7E%202023-08-12%2018.23.45%20-%20queso%20muy%20elegante%20llamado%20Queso%20Guido2%20.png?alt=media&token=379a2af4-efc0-45ff-83f0-d363c214a2b8" class="card-img-top" alt="Marca 3">
                    <div class="card-body">
                        <h5 class="card-title">Quesos Guido</h5>
                        <p class="card-text">Los quesos que utilizamos en nuestras creaciones son suministrados por "Quesos Guido", una marca de tradición.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="container">
        <div class="gallery-container">

            <div class="gallery-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/restaurante-4a933.appspot.com/o/DALL%C2%B7E%202023-08-12%2018.05.29%20-%20cafe%20muy%20elegante%20de%20nombre%20Caf%C3%A9ture%20.png?alt=media&token=46d58137-e2f4-4f3b-ac1c-9576c8e3a349" alt="Imagen 1">
            </div>

            <div class="gallery-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/restaurante-4a933.appspot.com/o/DALL%C2%B7E%202023-08-12%2018.23.45%20-%20queso%20muy%20elegante%20llamado%20Queso%20Guido2%20.png?alt=media&token=379a2af4-efc0-45ff-83f0-d363c214a2b8" alt="Imagen 2">
            </div>

            <div class="gallery-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/restaurante-4a933.appspot.com/o/DALL%C2%B7E%202023-08-12%2018.44.10%20-%20platos%20de%20alta%20finura%20de%20marca%20Fiorette%20fondo%20negro.png?alt=media&token=9ff40d29-f96d-45ef-8740-cbb56d0e320e" alt="Imagen 3">
            </div>

        </div>
    </div>


    <style>
        body {
            font-family: 'EB Garamond', serif;
            background-color: black;
            color: white;
        }

        .jumbotron {
            background-color: gold;
            color: black;
        }

        .card {
            background-color: black;
            border: 1px solid gold;
            color: white;
        }

    </style>